{extends file="main.tpl"}

{block name=top}



{/block}

{block name=bottom}

<form action="{$conf->action_root}locationSave" method="post" class="pure-form pure-form-aligned">
    <fieldset>

                        <div class="pure-control-group">
                            <label for="location_name">Nazwa lokacji</label>
                            <input id="location_name" type="text" placeholder="Nazwa Lokacji" name="location_name" value="{$location_name}">
                        </div>


    </fieldset>
    <input type="hidden" name="location_id" value="{$location_id}">
    <input type="submit" class="pure-button pure-button-primary" value="Zapisz"/>

</form>
    </table>

{/block}

