{extends file="main.tpl"}

{block name=footer}przykładowa tresć stopki wpisana do szablonu głównego z szablonu kalkulatora{/block}

{block name=content}

<h2 class="content-head is-center">Prosty kalkulator mini ratek</h2>

<div class="pure-g">
<div class="l-box-lrg pure-u-1 pure-u-med-2-5">
	<form class="pure-form pure-form-stacked" action="{$conf->action_root}calcCompute" method="post">

		<fieldset>
			<label for="id_x">Ile lat?: </label>
			<input id="id_x" type="text" name="how_many_years" value="{$form->how_many_years}">
			<label for="id_y">Kwota: </label>
			<input id="id_y" type="text" name="amount" value="{$form->amount}">
			<label for="id_z">Oprocentowanie: </label>
			<input id="id_z" type="text" name="percentage" value="{$form->percentage}">
			<button type="submit" class="pure-button">Oblicz</button>
		</fieldset>
	</form>
</div>

<div class="l-box-lrg pure-u-1 pure-u-med-3-5">

{* wyświeltenie listy błędów, jeśli istnieją *}
	{if $msgs->isError()}
		<h4>Wystąpiły błędy: </h4>
		<ol class="err">
			{foreach $msgs->getErrors() as $err}
				{strip}
					<li>{$err}</li>
				{/strip}
			{/foreach}
		</ol>
	{/if}

	{* wyświeltenie listy informacji, jeśli istnieją *}
	{if $msgs->isInfo()}
		<h4>Informacje: </h4>
		<ol class="inf">
			{foreach $msgs->getInfos() as $inf}
				{strip}
					<li>{$inf}</li>
				{/strip}
			{/foreach}
		</ol>
	{/if}

	{if isset($res->result)}
		<h4>Wynik</h4>
		<p class="res">
			{$res->result}
		</p>
	{/if}

</div>
</div>

{/block}